@{
    Layout = "_Layout2";
}
@model RoleDetails
<h2 class="text-center">Edit Role</h2>
<hr>
<form asp-controller="admin" asp-action="editrole">
    <input type="hidden" name="RoleId" value="@Model.Role.Id">
    <input type="hidden" name="RoleName" value="@Model.Role.Name">
    <h6 class="bg-info text-white p-1">Add to @Model.Role.Name</h6>
    <table class="table table-bordered table-sm">
        @if (Model.NonMembers.Count() == 0)
        {
            <tr>
                <td colspan="2">All users have a role</td>
            </tr>
        }
        else
        {
            @foreach (var user in Model.NonMembers)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td><input type="checkbox" name="IdsToAdd" value="@user.Id"></td>
                </tr>
            }
        }
    </table>
    <hr>
    <h6 class="bg-info text-white p-1">Remove from @Model.Role.Name</h6>
    <table class="table table-bordered table-sm">
        @if (Model.Members.Count() == 0)
        {
            <tr>
                <td colspan="2">No User In This Role</td>
            </tr>
        }
        else
        {
            @foreach (var user in Model.Members)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td><input type="checkbox" name="IdsToDelete" value="@user.Id"></td>
                </tr>
            }
        }
    </table>
    <button type="submit" style="width: 400px; margin-left: 400px;" class="btn btn-success">Save</button>
</form>