@model BookListModel
<div class="col-md-12">
    <h1 class="text-center">Admin Book List</h1>
    <hr>

    <a asp-controller="admin" asp-action="addbook" style="padding-right: 40px;"
        class="btn btn-secondary text-light nav-link fs-5">Add
        Book</a>
    @* To display notification, using tempdata to carry the notification string and check it is null or not. If not
        display
        notification *@
    @if (TempData["message"] != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alet alert-warning">
                    @TempData["notification"]
                </div>
            </div>
        </div>
    }
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Author</td>
                <td>Description</td>
                <td>Image Url</td>

            </tr>

        </thead>
        <tbody>
            @if (Model.books.Count > 0)
            {
                @foreach (var item in Model.books)
                {
                    <tr>
                        <td>@item.bookId</td>
                        <td>@item.name</td>
                        <td>@item.author</td>
                        <td>@item.description</td>
                        <td>@item.imgUrl</td>
                        <td>
                            <a asp-controller="admin" asp-action="EditBook" asp-route-id="@item.bookId"
                        class="btn btn-primary btn-sm mr-2">Edit</a>
                            <form asp-controller="admin" asp-action="deletebook" method="POST" style="display: inline;">
                                <input type="hidden" name="bookId" value="@item.bookId">
                                <button class="btn btn-danger btn-sm mr-2" type="submit">Delete</button>
                            </form>

                        </td>
                    </tr>
                }
            }
            else
            {
                <div class="alert alert-warning">
                    <h2>No Books Added</h2>
                </div>
            }
        </tbody>
    </table>
</div>